@import 'tailwindcss';
@plugin "daisyui";

:root {
	--color-primary: #3b82f6;
	--color-secondary: #6366f1;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: transparent;
}

/* Custom scrollbar */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #4b5563;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background: #6b7280;
}
